#plotText {
	-fx-font: 10px Arial;
}

#commentText {
	-fx-border-color: black;
	-fx-border-radius: 10;
	-fx-background-color: transparent;
}

#mainPane {
   -fx-background-color: linear-gradient(from 0% 0% to 10% 100%, #d0e0e0 0%, #ffffff 50%, #b0c0c0 100%);
}

#scrollPane {
   -fx-background-color: transparent;
}

#searchPane {
   -fx-background-color: linear-gradient(from 0% 0% to 10% 100%, #d0e0e0 0%, #ffffff 50%, #b0c0c0 100%);
}

.circleButton {
	-fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: transparent;
}

.circleButton:hover {
    -fx-background-color: lightblue;
}

.bigCircleButton {
	-fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: transparent;
}

.bigCircleButton:hover {
    -fx-background-color: lightblue;
}

.searchBox .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("../../images/search-3-16.png");
	-fx-border-image-width: 16 16 16 30;
    -fx-border-image-repeat: stretch; 
    -fx-background-image: url("../../images/search-3-16.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
.searchBox .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}
.searchBox .button {
    -fx-background-color: transparent;
    -fx-background-image: url('../../images/x-mark-3-16.png');
    -fx-background-image-repeat: stretch; 
}
