#plotText {
	-fx-font: 10px Arial;
}

#commentText {
	-fx-border-color: black;
	-fx-border-radius: 10;
	-fx-background-color: transparent;
}

#mainPane {
   -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #a1a2a4 0%, #e4eef7 1%, #ffffff 50%, #f1f6fb 100%);
}

#scrollPane {
   -fx-background-color: transparent;
}

#searchPane {
   -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #a1a2a4 0%, #e4eef7 1%, #ffffff 50%, #f1f6fb 100%);
}

#optionBar {
  -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #e6f0fa 49%, #dce6f4 50%, #dde9f7 97%, #ffffff 100%);
}

.circleButton {
	-fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
}

.circleButton:hover {
    -fx-border-color: darkgrey;
    -fx-background-color: #00151010;
}

.circleButton:pressed {
     -fx-border-color: darkgrey;
     -fx-background-color: linear-gradient(from 0% 0% to 10% 50%, #a1a2a4 0%, d2dce9 30%);
}

.sortButton {
	-fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-background-color: transparent;
    -fx-font-style: italic;
}

.sortButton:hover {
     -fx-border-color: darkgrey;
    -fx-background-color: #00151010;
}

.sortButton:pressed {
     -fx-border-color: darkgrey;
     -fx-background-color: linear-gradient(from 0% 0% to 10% 50%, #a1a2a4 0%, d2dce9 30%);
}

.movieButton {
	-fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: lightgrey;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #dddddd10 70%, #00000010 100%),
   						 linear-gradient(from 0% 0% to 100% 0%, #dddddd10 90%, #00000010 100%);
    -fx-font-style: italic;
}

.movieButton:hover {
     -fx-border-color: darkgrey;
    -fx-background-color: #00151010;
}

.movieButton:pressed {
     -fx-border-color: darkgrey;
     -fx-background-color: linear-gradient(from 0% 0% to 10% 50%, #a1a2a4 0%, d2dce9 30%);
}

.searchBox{
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
     
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
.searchBox:focused {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
}
